{% import '_includes/forms' as forms %}

<div style="margin-bottom: 1em">
	<h5>Error Message:</h5>
	{{ forms.text({
		label: "Error Message"|t,
		id: 'errorMessage',
		name: 'errorMessage',
		errors: settings.getErrors('errorMessage'),
		value: settings.errorMessage
	}) }}
</div>

<div style="margin-bottom: 3em">
	<h5 id="toggleLabel">Blacklist Mode</h5>
	{{ forms.lightswitch({
		label: "Blacklist Mode"|t,
		id: 'blacklistMode',
		name: 'blacklistMode',
		labelId: 'toggleLabel',
		on: settings.blacklistMode
	}) }}
	<p style="color: #8f98a3;">Enabling this will allow any emails <b>EXCEPT</b> those in the list.</p>
</div>

{{ forms.editableTable({
	label: "List of Emails"|t,
	id: 'emails',
	name: 'emails',
	addRowLabel: 'Add an email',
	errors: settings.getErrors('emails'),
	cols: [
		{
			heading: 'Emails',
			type: 'singleline'
		}
	],
	rows: settings.emails
}) }}